@font-face {
  font-family: 'Terminator Cyr';
  src: url('/fonts/TerminatorCyr.ttf') format('truetype'),
       url('/fonts/TerminatorCyr.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



:root {
    --bg-color-dark: #242731;
    --sidebar-bg-dark: #2a2d3a;
    --header-bg-dark: #2a2d3a;
    --text-color-dark: #e0e0e0;
    --quiz-title-color-dark: #e0e0e0;
    --black: #1B1E24;
    --grey: #3E3E3E;
    --main-grey: #272B36;
    --logo-color-light: #5e72e4;
    --blue:#14151A;
    --grey-plate:#191C25;
}

body { 
    font-family: sans-serif; 
    margin: 0;
    padding: 0;
    background-color: var(--blue);
    color: var(--text-color-dark);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    
}

.central-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    margin: 10px 200px;

}

.header {
    background-color: var(--blue);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: var(--grey-plate);
    border-radius: 9px;
    padding: 8px 15px;
    width: 600px;
    border: 1px solid #3e3e3e;
}

.search-box img {
    color: var(--text-color-light-dark);
    margin-right: 10px;
    width: 13px;
    height: 13px;
}

.search-box input {
    background: none;
    border: none;
    outline: none;
    color: var(--search-text-dark);
    font-size: 1em;
    flex-shrink: 0;
}

.search-box input::placeholder {
    color: var(--text-color-light-dark);
}

.user-info {
    display: flex;
    align-items: center;
    color: var(--text-color-light-dark);
}

.user-info i {
    margin-left: 20px;
    cursor: pointer;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
    object-fit: cover;
}

.user-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 0.9em;
}

.user-name {
    font-weight: bold;
    color: var(--text-color-dark);
}

.user-role {
    color: var(--text-color-light-dark);
}

.large-letter{
    font-size: 26px;
}

.logo{
    display: flex;
    flex-direction: row;
    
}

.logo p{
    font-family: 'Terminator Cyr', sans-serif;
}

.logo img{
    width: 40px;
    height: 40px;

}

.pages{
    display: flex;
    justify-content: center;
    background-color: var(--grey-plate);
    text-align: center;
    border-radius: 8px;
    padding: 10px;
}

.button-page{
    padding: 8px;
    background-color: var(--grey-plate);
    border: none;
    color: white;
}

#check-answer{
    background-color: #0040FF;
    border: none;
    color: white;
    padding: 16px;
    border-radius: 5px;
    margin-bottom: 28px; 
}

.complete{
    display: flex;
    justify-content: space-between;
}

  .quiz-header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.quiz-title {
    font-size: 1.8em;
    font-weight: bold;
    color: var(--quiz-title-color-dark);
    margin: 0;
}

.quiz-progress {
    font-size: 1.2em;
    color: var(--quiz-progress-color-dark);
}

.quiz-section {
    padding: 0px 30px;
    background-color: var(--grey-plate);
    margin-top: 30px;
    border-radius: 5px;
}

.answer-container button{
    border: none;
}

.button-radio-group {
    display: flex;
    gap: 10px;
}
.button-radio span {
    display: inline-block;
    padding: 8px 16px;
    background: #252934;
    border: 1px solid #737373;
    border-radius: 4px;
    cursor: pointer;
}
.button-radio input:checked + span {
    background: var(--black);
    color: white;
    border-color: var(--black);
}

.button-radio input:hover + span{
    background: var(--grey);
    color: white;
    border-color: var(--grey);
}
.question{
    background-color: var(--main-grey);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 25px;
}



.email-bt {
    background:rgba(49, 130, 206, 1);
    border:2px solid #3182CE;
    border-radius:50%;
    box-shadow:0 8px 10px rgba(49, 130, 206,  0.3);
    cursor:pointer;
    height:38px;
    text-align:center;
    width:38px;
    /* position: fixed; */
    z-index:1000;
    transition:.3s;
    -webkit-animation:email-an linear 1s infinite;
    animation:email-an linear 1s infinite;
    position: fixed;
    bottom: 40px;
    right: 50px; 
}

.email-bt .text-call{
    height:38px;
    width:38px;        
    border-radius:20%;
    position:static;
    overflow:hidden;
}

.email-bt .text-call span {
    text-align: center;
    color:#3182CE;
    opacity: 0;
    font-size: 0;
    position:absolute;
    right: 5px;
    top: 18px;
    line-height: 1px;
    font-weight: 600;
    text-transform: uppercase;
    transition: opacity .3s linear;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.email-bt .text-call:hover span {
    opacity: 1;
    font-size: 8px;
}
.email-bt:hover i {
    display:none;   
}

.email-bt:hover {
    z-index:1;
    background:#fff;
    transition:.3s;
}
.email-bt:hover i {
    color:rgba(49, 130, 206, 1);
    font-size:20px;
    transition:.3s;
}
.email-bt i {
    color:#fff;
    font-size:19px;
    font-style:normal;
    transition:.3s;
    line-height: 36px;
}

.email-bt i  {
    -webkit-animation: opsimple 3s infinite;
    animation: opsimple 3s infinite;
}